.problems
	display block
	&__title
		margin 50px auto
		font-size 32px
		text-align center
	&__items
		display flex
		justify-content space-between
	&__result
		margin 30px auto
		font-size 18px
		line-height 28px
		text-align center
