include ../countdown/countdown

mixin header()
	+b.header&attributes(attributes)
		+e.H1.title Написание #[strong продающего текста] для инфобизнеса с тремя видами гарантий
		+e.subtitle Запишитесь на консультацию бесплатно и получите скидку на первый продающий текст
		+e.BUTTON.button Запись на бесплатную консультацию
		+icon('arrow', false).icon
		+countdown()
		block
