.header
	display block
	text-align center
	background #655E59
	color #FFFFFF
	&__title
		position relative
		margin 0 auto
		padding-bottom 30px
		font-size 50px
		text-transform uppercase
		max-width 800px
		&:after
			display block
			position absolute
			left 50%
			transform translateX(-50%)
			bottom 0
			content ''
			width 400px
			border-bottom 2px solid #FFFFFF
		strong
			color #F7941D
	&__subtitle
		margin 30px auto
		font-size 24px
		text-transform uppercase
		max-width 800px
	&__button
		display block
		margin 0 auto
	&__icon
		width 60px
		height 60px

